.my-group {
    border-bottom: 1px solid black;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-group-text {
    font-size: 23px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-text {
    padding: 5px 30px;
    color: red;
    font-size: 20px;
}
.no-group-text{
    margin-top: 100px;
    margin-left: 700px;
    font-size: 30px;
}